.App {
  text-align: center;
}

.bg-cover-video {
  height: 100vh;
  z-index: -1;
}

.LogoText h1 {
  display: inline;
}

.LogoText {
  display: inline;
  position: absolute;
  top: 0;
}

.logotxt1 {
  color: orange;
  border-bottom: solid;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(min-aspect-ratio: 16/9) {
  .bg-cover-video {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio: 16/9) {
  .bg-cover-video {
    width: auto;
    height: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}