.App-header {
  min-height: 65vh;
  font-size: calc(10px + 2vmin);
}


.logotxt1 {
  display: inline;
  color: orange;
  text-decoration: underline orange;
  margin-top: 2%;
  margin-left: 2%;
  -webkit-text-stroke: 1px rgb(194, 148, 80);

}


.navWrap {
  margin-left: 2%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: large;
}

.cart {
  display: flex;
  position: relative;
  align-items: center;
  height: 60%;
  padding-left: 2%;
  padding-right: 2%;
  gap: 10%;
  font-weight: 600;
  border: 2px solid wheat;
  border-radius: 20px;
  background-color: rgb(255, 153, 0);
  color: white;

}

.cart:hover {
  background-color: rgb(252, 144, 3);
}

.btn {
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid rgb(221, 105, 10);
  border-radius: 20px;
  color: rgb(221, 105, 10);
  font-weight: bolder;
}

.cartCount {
  position: absolute;
  -webkit-text-stroke: 0.1px;
  color: wheat;
  font-size: 12px;
  width: 20%;
  text-align: center;
  top: -3px;
  left: 26px;

}

.cartLogo {
  height: 3vh;
}

.logotxt2 {
  display: inline;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.bg-cover-video {
  display: inline;
  position: absolute;
  opacity: 90%;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.centerText {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 30%;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.centerText h1 {
  margin: 3px;

}

footer {
  margin: 5px 0px 10px 0px;
  text-align: center;
}

@media(min-aspect-ratio:16/9) {
  .bg-cover-video {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9) {
  .bg-cover-video {
    width: auto;
    height: 100vh;
  }
}