.App-header {
  min-height: 65vh;
  font-size: calc(10px + 2vmin);
}


.logotxt1 {
  display: inline;
  color: orange;
  text-decoration: underline orange;
  margin-top: 2%;
  margin-left: 2%;
  -webkit-text-stroke: 1px rgb(194, 148, 80);

}


.navWrap {
  margin-left: 2%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-size: large;
}

.cart {
  display: flex;
  position: relative;
  align-items: center;
  height: 60%;
  padding-left: 2%;
  padding-right: 2%;
  gap: 10%;
  font-weight: 600;
  border: 2px solid wheat;
  border-radius: 20px;
  background-color: rgb(255, 153, 0);
  color: white;

}

.cart:hover {
  background-color: rgb(252, 144, 3);
}

.btn {
  padding: 5px 20px;
  background-color: transparent;
  border: 2px solid rgb(221, 105, 10);
  border-radius: 20px;
  color: rgb(221, 105, 10);
  font-weight: bolder;
}

.cartCount {
  position: absolute;
  -webkit-text-stroke: 0.1px;
  color: wheat;
  font-size: 12px;
  width: 20%;
  text-align: center;
  top: -3px;
  left: 26px;

}

.cartLogo {
  height: 3vh;
}

.logotxt2 {
  display: inline;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.bg-cover-video {
  display: inline;
  position: absolute;
  opacity: 90%;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.centerText {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  height: 20vh;
  width: 30%;
  text-align: center;
  color: white;
  padding-top: 10px;
}

.centerText h1 {
  margin: 3px;

}

.foodCatagerious {
  background-color: #f3efef;
}

.blockName {
  color: rgb(80, 76, 76);
  font-weight: 500;
  margin-left: 10px;
  font-size: 22px;
  padding-top: 10px;
  text-decoration: underline gray;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.foodCatageriousImg {
  margin-left: 40px;
  margin-top: 25px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill);
  text-align: center;
}

.foodCatageriousImg p {
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
}

.catagoryName {
  padding: 10px;
}

.foodItemImg {
  height: 22vh;
  margin-top: 0;
  border-radius: 50%;
}



.foodItemImg:hover {
  height: 23vh;
  transition: all 0.5s;
  cursor: pointer;
}


@media(min-aspect-ratio:16/9) {
  .bg-cover-video {
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9) {
  .bg-cover-video {
    width: auto;
    height: 100vh;
  }
}

/*foodMenuContainer*/
.foodMenuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10vh;
  padding: 1%;
}

.food {
  width: 25%;
  border-radius: 25px;
  padding: 20px 25px;
  border: 0.5px rgb(194, 161, 161) solid;
  background-color: #f3efef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.food img {
  width: 99%;
  height: auto;
  border-radius: 25px;
}

.itemName {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0px;
}

.itemdesc {
  font-weight: lighter;
  font-style: italic;
  font-size: small;
}

.pricenadd {
  height: 4vh;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foodDescrption {
  width: 100%;
}

/* Cart */
.container {

  padding-bottom: 24px;
  /*lg:w-1/2 w-full*/

}

.cartBox {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.heading {
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
  margin-top: 8px;
}

.cartList {
  margin-top: 8px;
  margin-bottom: 12px;
  background-color: aliceblue;
  padding: 20px 30px;
}

.cartFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgName {
  display: flex;
  gap: 10px;
  align-items: center;
}

li {
  list-style: none;
  margin: 20px 0px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgb(252, 255, 240);
}

.imgName img {
  height: 10vh;
  border-radius: 14px;

}

.imgName p {
  font-size: medium;
  margin-left: 2%;
}

.couterBtn {
  background-color: orange;
}

.disabled {
  background-color: rgba(223, 141, 18, 0.425);
}

.dltBtn {
  background-color: rgb(255, 153, 0);
  color: white;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 10px;
}

hr {
  margin-top: 18px;
}

.cartList span {
  margin: 0px 7px;
}

.total {
  margin-top: 16px;
  text-align: right;
}

.orderBtn {
  text-align: right;
  margin-top: 10px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.block {
  display: block;
}